        
<!-- ============================================================== -->
<!-- Profile - style you can find in header.scss -->
<!-- ============================================================== -->

<button [matMenuTriggerFor]="profile" mat-icon-button class="m-r-5"> <img src="assets/img/theme/Gyula.png" alt="user" class="profile-pic"> </button>
<mat-menu #profile="matMenu" class="mymegamenu">
    <button mat-menu-item>
        <mat-icon>settings</mat-icon> Beállítások </button>
    <button mat-menu-item>
        <mat-icon>account_box</mat-icon> Profil </button>
    <button mat-menu-item>
        <mat-icon>notifications_off</mat-icon> Az értesítések letiltása </button>
    <button mat-menu-item>
        <mat-icon>exit_to_app</mat-icon> Kilépés </button>
</mat-menu>

